<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Public/scripts" />
    <include file="Public/date" />
</head>
<body>
<div class="row">
    <div class="col-md-12">
        <div class="col-md-12 custom-tool" >
            <h2>{$title}</h2>
            <div class="pull-right"> <a href="{:U($control.'/add'.$action)}" class="btn btn-success" title="添加"><i class="fa fa-plus"></i> 添加</a> </div>
        </div>




        <table class="table  table-first-column-number display full table-striped custom-table vm">
            <thead>
            <tr>
                <th></th>
                <th width="80">#</th>
                <th>名称</th>
                <th>备注</th>
                <th width="240">操作</th>
            </thead>
            <tbody>
            <volist name="contentlist" id="vo">
                <tr>
                    <td><input type="checkbox" name="selectids" value="{$vo.id}"></td>
                    <td>{$vo.id}</td>
                    <td>{$vo.name}</td>
                    <td>
                        <?php
                        $down=M('member_dic')->where(array('pid'=>$vo['id']))->select();
                        ?>
                        <volist name="down" id="vod">
                            {$vod.id}：{$vod.name}
                            <a href="{:U($control.'/edit'.$action,'id='.$vod['id'])}" class="btn btn-xs" rel="tooltip" data-original-title="修改"><i class="fa fa-edit"></i></a>
                            <a href="javascript:void(0);" onclick="setDelete('{:U($control.'/delete'.$action,"id=".$vod['id'])}')" class="btn btn-xs" rel="tooltip" data-original-title="删除"><i class="fa fa-trash"></i></a>
                            <br/>
                        </volist>
                    </td>


                    <td>

                        <a href="{:U($control.'/edit'.$action,'id='.$vo['id'])}" class="btn" rel="tooltip" data-original-title="修改"><i class="fa fa-edit"></i></a>
                        <a href="javascript:void(0);" onclick="setDelete('{:U($control.'/delete'.$action,"id=".$vo['id'])}')" class="btn" rel="tooltip" data-original-title="删除"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </volist>
            <tr>
                <td colspan="11"><notempty name="page">
                    <div class="pull-left custom-footer">
                        <ul class="pagination" style="margin: 0px;">
                            {$page}
                        </ul>
                    </div>
                </notempty>
                    <notempty name="contentlist">
                        <div class="pull-right">
                            <div class="btn-group dropup">
                                <input type="hidden" value="{$tblname}" id="ConstTbl" name="ConstTbl" />
                                <button id="AllCheck"  class="btn" title="全选"><i class="fa fa-check-square"></i></button>
                                <button id="ReverseCheck"  class="btn" title="反选"><i class="fa fa-check-square-o"></i></button>
                                <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="操作"><i class="fa fa-wrench"></i> <span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a class="AllStatus" data-status="0" href="javascript:void(0);"><i class="fa fa-lock"></i> {$statuslist[0]}</a></li>
                                    <li><a class="AllStatus" data-status="1" href="javascript:void(0);"><i class="fa fa-unlock-alt"></i> {$statuslist[1]}</a></li>
                                </ul>
                            </div>
                        </div>
                    </notempty></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>