<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Public/scripts" />
<include file="Public/upload" />
<include file="Public/editor" />
<script language="javascript">
$(function(){
	$("#pid").change(function(){ 
		var v=$(this).val();
		if(v==3||v==2){
			$("#slider").show();	
			$("#common").hide();	
			$(".datatype").attr("disabled",false);
		}else{
			$("#slider").hide();	
			$("#common").show();
				
		}
		
		if(v==3){
			$(".datatype").val(3).attr("disabled",true).change();
		}
	}).change();
	
	
	//类型
	$("body").on("change",".datatype",function(){
		var label=$(this).parent().parent().parent().find(".labelname");
		var text=$(this).find("option:selected").text();
		label.html(text);  
		var upload=$(this).parent().parent().parent().find(".input-group-addon");
		if(text=="文本"){
			upload.hide();
		}else{
			upload.show();	
		}
	});
});
</script>
</head>
<body>
<div class="row">
  <div class="col-md-12 " >
    <h2>{$title}</h2>
  </div>
  <div class="col-md-12 " >
    <form action="" method="post" name="form1" id="form1" class="ajaxformx">
      <input type="hidden" id="id" name="id" value="{$db.id}" />
      <div class="col-md-6 custom-form">
        <div class="form-group">
          <label class="control-label">名称：</label>
          <div class="controls">
            <input type="text" class="form-control" name="name" id="name" placeholder="{$name}名称" value="{$db.name}" />
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">分组：</label>
          <div class="controls">
           <select class="form-control" name="pid" id="pid">
            <option value="0">--选择组别--</option> 
           {:R('Setting/treeselect', array($list))} 
          </select>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">描述：</label>
          <div class="controls">
            <input type="text" class="form-control" rows="5" name="remark" id="remark" value="{$db.remark}" placeholder="{$name}描述" />
          </div>
        </div>
        <div class="form-group" id="slider" style="display:none">
          <label class="control-label">媒体集：</label>
          <div class="controls">
         	  <table class="col-md-12">
      <tr class="row0 template">
        <td id="tempid"><?php
      $detail=unserialize($db['images']); 
      $daynum=count($detail); 
      ?>
          <input type="hidden" name="daynum" id="daynum" value="{$daynum}" />
          <for start="0" end="$daynum" name="k" > 
            <script language="javascript">
	  $(function(){
	 	 $.rendUploader("#btnUpload{:$k+1}"); 
		 
	<eq name="db.pid" value="3">
		$(".datatype").val(3);
		<else/>
	 	 $("#data_type{:$k+1}").val("{:$detail[$k][3]}");
	</eq>
		 $(".datatype").change(); 
	  });
	  </script>
            <table class="table vm">
              <tr class="row0">
                <td width="70" rowspan="4" class="tc" > 第<span class="day">{:$k+1}</span>项 <br />
                  <a href="javascript:void(0);" onclick="if(confirm('您确定要删除吗？')){$(this).parent().parent().parent().parent().remove();}">删除</a></td>
                <td class="col1" style="width:80px;">类型：</td>
                <td ><select class="form-control datatype"  name="day_type[]" id="data_type{$k+1}" data-id="{$k+1}">
                <option value="1">视频</option>
                <option value="2">音频</option>
                <option value="3" selected="selected">图片</option>
                <option value="4">文本</option>
                </select></td>
              </tr>
              <tr class="row0">
                <td  class="col1" style="width:80px;"><span class="labelname" >图片</span>：</td>
                <td >
                <div class="input-group">
                <input type="text" class="form-control" name="day_indexpic[]" id="indexpic" value="{:$detail[$k][0]}"   />
                <span class="input-group-addon">
                   <button type="button" id='btnUpload{$k+1}' class="custom-upload"><i class="fa fa-upload"></i></button>
                </span>
            </div>  </td>
              </tr>
              <tr class="row0">
                <td  class="col1" style="width:80px;">链接：</td>
                <td ><input type="text" class="form-control"   name="day_link[]"  value="{:$detail[$k][1]}"   /></td>
              </tr>
              <tr class="row0">
                <td  class="col1" style="width:80px;">描述：</td>
                <td ><textarea name="day_remark[]" class="form-control"  >{:$detail[$k][2]}</textarea></td>
              </tr>
            </table>
          </for></td>
      </tr>
      <tr class="row0">
        <td colspan="3"><button class="btn" type="button" id="addDay"><i class="fa fa-plus"></i> 1项</button></td>
      </tr> 
    </table> 
          </div>
        </div> 
        <div class="form-group" id="common">
          <label class="control-label">HTML代码：</label>
          <div class="controls">
          <textarea  id="info" name="info" class="form-control customueditor" style="height:300px;" >{$db.info}</textarea> 
          <button type="button" class="btn" id="btnEditor" >编辑器</button>
          </div>
        </div> 
         
        <div class="form-group">
          <label class="control-label">状态：</label>
          <div class="controls">
            <select class="form-control w80 " name="status" id="status">
              <volist name="statuslist" id="vo">
                <notempty name="db.id">
                  <eq name="db.status" value="$key">
                    <option value="{$key}" selected="selected">{$vo}</option>
                    <else/>
                    <option value="{$key}" >{$vo}</option>
                  </eq>
                  <else/>
                  <eq name="key" value="1">
                    <option value="{$key}" selected="selected">{$vo}</option>
                    <else/>
                    <option value="{$key}" >{$vo}</option>
                  </eq>
                </notempty>
              </volist>
            </select>
          </div>
        </div>
        <div class="form-group" >
          <div class="controls">
            <hr />
            <button type="submit" class="btn btn-success" id="btnSubmit"><i class="fa fa-save"></i> 提交</button>
            <button type="button" class="btn btn-default" onClick="history.back();"><i class="fa fa-undo"></i> 返回</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script language="JavaScript" type="text/javascript" >
var customeditor;
$(function(){ 
var $infoid="info";	
	$("body").on("click","#btnEditor",function(){  
		if(customeditor!=undefined){ 
			customeditor.destroy();
			customeditor=null;
			 $("#"+$infoid).addClass("form-control");
		}else{ 
			customeditor=UE.getEditor($infoid,$ueconfig); 
			$("#"+$infoid).removeClass("form-control"); 
		} 
	 	
	});	   
 
	$("#addDay").click(function(){
		var num=parseInt($("#daynum").val());
		var html=$.addDay(num+1);
		$("#tempid").append(html);
		if($("#pid").val()==3){ 
			$(".datatype").val(3).attr("disabled",true).change();	
		}
		//$(".editor").xheditor(default_setting);
		$("#daynum").val(num+1);
		$.rendUploader("#btnUpload"+(num+1)); 	
	}); 
 	
});
(function(){
	$.addDay=function(n){
		var html="";
		html+=("<table class=\"table vm\">");
		html+=("  <tr class=\"row0\">");
		html+=("    <td width=\"70\" rowspan=\"4\" class=\"tc\" >第<span class=\"day\">"+n+"</span>项 <br /><a href=\"javascript:void(0);\" onclick=\"if(confirm('您确定要删除吗？')){$(this).parent().parent().parent().parent().remove();}\">删除</a></td>");
		html+=("    <td class=\"col1\" style=\"width:80px;\">类型：</td>");
		html+=("    <td ><select  class=\"form-control datatype\" name=\"day_type[]\" id=\"data_type"+n+"\" data-id=\""+n+"\"><option value=\"1\">视频</option><option value=\"2\">音频</option><option value=\"3\" selected=\"selected\">图片</option><option value=\"4\">文本</option></select></td>");
		html+=("  </tr>");
		html+=("  <tr class=\"row0\">");
		html+=("    <td  class=\"col1\" style=\"width:80px;\"><span class=\"labelname\">视频</span>：</td>");
		html+=("    <td ><div class=\"input-group\"><input type=\"text\" class=\"form-control\" name=\"day_indexpic[]\" id=\"indexpic\" value=\"\"   /><span class=\"input-group-addon\"><button type=\"button\" id='btnUpload"+n+"' class=\"custom-upload\"><i class=\"fa fa-upload\"></i></button></span></div>  </td>");
		html+=("  </tr>");
		html+=("  <tr class=\"row0\">");
		html+=("    <td  class=\"col1\" style=\"width:80px;\">链接：</td>");
		html+=("    <td ><input type=\"text\" class=\"form-control\"   name=\"day_link[]\"  value=\"\"  maxlength=\"250\" /></td>");
		html+=("  </tr>");
		html+=("  <tr class=\"row0\">");
		html+=("    <td  class=\"col1\" style=\"width:80px;\">描述：</td>");
		html+=("    <td ><textarea name=\"day_remark[]\" class=\"form-control\" ></textarea></td>");
		html+=("  </tr>");
		html+=("</table>");	
		return html;
	}
 
})(jQuery);
</script>
<script language="javascript">
var $fields={
	name: {
		validators: {
			notEmpty: {
				message: '{$name}名不能为空'
			} 
		}
	}  
	};
</script> 
<include file="Public/form" />
</body>
</html>
