<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <include file="Public:scripts" />
</head>
<body>

<div class="mui-content">


    <div class="mui-table-view" style="overflow: hidden; margin: 0;	">
        <div class="mui-content-padded">
            <h4 class="mui-text-center mt20">{$db.title}</h4>
            <hr />
            <div class="pagecont">
              {$db.content}
            </div>
        </div>

    </div>

   
</div>




<include file="Public:footer" />
<script src="__PUBLIC__/Home/js/mui.previewimage.js"></script>
<script src="__PUBLIC__/Home/js/mui.zoom.js"></script>
<link rel="stylesheet" href="__PUBLIC__/Home/css/priview.css" />
<script type="text/javascript">
	mui.previewImage();
	
	function setimg(){
		$(".pagecont p img").attr('data-preview-src',"");
		$(".pagecont p img").attr('data-preview-group',"1");
		
	}
	setimg();

</script>

</body>
</html>