<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$title}</title>
<include file="Public:scripts" />
</head>

<body>


<div class="mui-content">

		<div class="mui-input-group mt10">
			<div class="mui-input-row">
				<label>提现金额</label>
				<input type="number" name="amount" id="amount" placeholder="本次最大可提现{$balance}元" class="mui-input-clear" id="much" />
			</div>

			<!--<div class="mui-input-row autoh">-->
				<!--<textarea  placeholder="备注" rows="4"></textarea>-->
			<!--</div>-->
		</div>
		<div class="mui-content-padded">
			<button type="button" id="btnCash" class="mui-btn mui-btn-primary mui-btn-block mui-btn-sm">提交</button>
		</div>


	<div class="mui-table-view jilu mt10" id="upload">

		<ul class="clearListStyle cp-tab">
			<li style="line-height:40px;" class="mui-col-xs-3 active"><span  data-status="" >全部</span> </li>
			<li style="line-height:40px;"  class="mui-col-xs-3"><span data-status="0" >待审核</span> </li>
			<li style="line-height:40px;"  class="mui-col-xs-3"><span data-status="1" >已提现</span> </li>
			<li style="line-height:40px;"  class="mui-col-xs-3"><span data-status="2" >提现失败</span> </li>
		</ul>
		<div id="msg-list">

		</div>
	</div>

</div>

<include file="Public:footer" />

<js href="__PUBLIC__/Home/js/jquery.form.js" />
<script language="javascript">
	var p = 1;
	$(function(){

		//获取车列表
		$.getCashList = function() {
			var $p = arguments[0];
			if ($p) {
				p = $p;
			}
//			$(".slectitem li.active").click();
			var url = "{:U('Member/getCashList')}";
			if (p != 0) {
				if (p == 1) {
					$("#msg-list").html('<div class="mui-table-view-cell display-box noresult loading"><img src="__PUBLIC__/Home/images/loading.gif" /></div>');
				}
				var $status=$(".cp-tab .active").find('span').attr("data-status");

				var $data = {};
				$data['status']=$status;
				$data['p'] = p;
				$.ajax({
					url: url,
					type: 'POST',
					data: $data,
					success: function(msg) {
						$(".loading").hide();
						if (msg != "") {
							$("#msg-list").html($("#msg-list").html() + msg);
							p += 1;
						} else {
							p = 0;
						}
					}
				});
			}
		};

		$.getCashList(1);
		$(window).scroll(function() {
			var height_bottom = 0; // 距离底边多少像素开始加载
			if ($(document).scrollTop() + height_bottom >= $(document).height() - $(window).height()) {
				$.getCashList();
			}
		});

		$(".cp-tab li").click(function(){
			$(".cp-tab li").removeClass('active');
			$(this).addClass('active');
			p=1;
			$.getCashList();
		});

		$("#btnCash").click(function(){
			var v=$("#amount").val();
			var $max=parseFloat("{$balance}");
			if(isNaN(v)){
				v=0;
			}else{
				v=parseFloat(v);
			}
			if(v==0){
				mui.toast("对不起，请输入提现金额！");
			}else if(v>$max){
				mui.toast("对不起，您最多可提现{$balance}元！");
			}else{
				var url="{:U('Member/cashapply')}";
				$.ajax({url:url,
					data:{
						"amount":v
					},
					type:"POST",
					success: function(data){
						if(data.status=="1"){
							mui.toast(data.info);
							reloadwin();
						}else{
							mui.toast(data.info);
						}
					}});
			}
		});
	});
</script>
</body>
</html>

