<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{$title}</title>
<include file="Public:scripts" />

</head>

<body>
<header class="mui-bar mui-bar-nav screen screen-order">
	<ul class="clearListStyle mui-clearfix">
		<li <if condition="$status eq 10"> class="mui-pull-left mui-col-20 sequence active"<else/>class="mui-pull-left mui-col-20 sequence"</if> ><a href="javascript:void(0);" data-status="" <if condition="$status eq 10"> class="current"</if>>全部</a></li>
		<li <if condition="$status eq 0"> class="mui-pull-left mui-col-20 sequence active"<else/>class="mui-pull-left mui-col-20 sequence"</if> ><a href="javascript:void(0);"<if condition="$status eq 0"> class="current"</if> data-status="0" >未付款</a></li>
		<li <if condition="$status eq 1"> class="mui-pull-left mui-col-20 sequence active"<else/>class="mui-pull-left mui-col-20 sequence"</if> ><a href="javascript:void(0);"<if condition="$status eq 1"> class="current"</if> data-status="1">已付款</a></li>
		<li <if condition="$status eq 2"> class="mui-pull-left mui-col-20 sequence active"<else/>class="mui-pull-left mui-col-20 sequence"</if> ><a href="javascript:void(0);"<if condition="$status eq 2"> class="current"</if> data-status="2" >已发货</a></li>
		<li <if condition="$status eq 3"> class="mui-pull-left mui-col-20 sequence active"<else/>class="mui-pull-left mui-col-20 sequence"</if> ><a href="javascript:void(0);"<if condition="$status eq 3"> class="current"</if> data-status="3" >已完成</a></li>
	</ul>
</header>

<div class="mui-content">
	<div class="mui-scroll">
		<div id="msg-list" style="padding-bottom: 30px;">
		</div>
		<div style="text-align: center;" id="loadmore">
			载入更多
		</div>
	</div>
</div>

<include file="Public:footer" />
<js href="__PUBLIC__/Home/js/jquery.form.js" />
<script language="javascript">
	var p = 1;
	var type={$type?$type:1};
	$(function(){
		//获取车列表
		$.getOrderList = function() {
			var $p = arguments[0];
			if ($p) {
				p = $p;
			}
			$(".slectitem li.active").click();
			var url = "{:U('Member/getOrderList')}";
			if (p != 0) {
				if (p == 1) {
					$("#msg-list").html('<div class="mui-table-view-cell display-box noresult loading"><img src="__PUBLIC__/Home/images/loading.gif" /></div>');
				}
				var $status=$(".sequence .current").attr("data-status");

				var $data = {};
				$data['status']=$status;
				$data['type']=type;
				$data['p'] = p;
				$.ajax({
					url: url,
					type: 'POST',
					data: $data,
					success: function(msg) {
						$(".loading").hide();
						if (msg != "") {
							$("#msg-list").html($("#msg-list").html() + msg);
							p += 1;
						} else {
							p = 0;
						}
					}
				});
			}
		};

		$.getOrderList();
		$(window).scroll(function() {
			var height_bottom = 0; // 距离底边多少像素开始加载
			if ($(document).scrollTop() + height_bottom >= $(document).height() - $(window).height()) {
				$.getOrderList();
			}
		});

		$(".sequence a").click(function(){
			$(".sequence a").removeClass('current');
			$(".sequence").removeClass('active');
			$(this).addClass('current');
			$(this).parent().addClass('active');
			p=1;
			$.getOrderList();
		});
	});
</script>
</body>
</html>