<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{$title}</title>
    <include file="Public/scripts" /><include file="Public/upload" /><include file="Public/editor" />
</head>
<body>
<div class="row">
    <div class="col-md-12 " >
        <h2>{$title}</h2>
    </div>
    <div class="col-md-12 " >
        <form action="" method="post" name="form1" id="form1" class="ajaxformx">
            <input type="hidden" id="id" name="id" value="{$db.id}" />
            <input type="hidden" value="2" name="type" />
            <div class="fancy-tab-container">
                <ul class="nav nav-tabs fancy">
                    <li class="active"><a href="#autotab_1" data-toggle="tab">基本信息</a></li>
                    <li><a href="#autotab_2" data-toggle="tab">高级属性</a></li>
                    <li><a href="#autotab_3" data-toggle="tab">图片集</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="autotab_1">
                        <div class="col-md-6 custom-form">
                            <div class="form-group">
                                <label class="control-label">产品编号：</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="code" id="code" placeholder="输入{$name}编号" value="{$db.code}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">标题：</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="title" id="title" placeholder="输入{$name}标题" value="{$db.title}" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">形象图：</label>
                                <div class="controls">
                                    <div class="input-group">
                                        <input type="text" class="form-control" name="indexpic" id="indexpic" value="{$db.indexpic}" readonly />
                    <span class="input-group-addon">
                    <button type="button" id="btnUpload" class="custom-upload"><i class="fa fa-upload"></i></button>
                    </span> </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">所需积分：</label>
                                <div class="controls">

                                    <div class="input-group col-md-4">
                                        <input type="text" class="form-control" name="point" id="point" placeholder="输入{$name}价格" value="{$db.point}" maxlength="11" />
                                        <span class="input-group-addon"> <i class="fa fa-cny"></i></span> </div>

                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">库存：</label>
                                <div class="input-group col-md-4">
                                    <input type="text" class="form-control" name="stock" id="stock" placeholder="输入{$name}库存" value="{$db.stock}" maxlength="10" />
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label">属性：<span style=" color: red;">【每个属性名可对应多个属性值，属性值用逗号隔开】</span></label>
                                <div class="controls">
                                    <table class="col-md-12" >
                                        <tr class="row0 template">
                                            <td id="attrid">
                                                <?php
                          $attr=json_decode($db['attr'],true);
                          $attrnum=count($attr);
                          if($attrnum==0){
                            $attrnum=1;
                          }
                          ?>
                                                <input type="hidden" name="attrnum" id="attrnum" value="{$attrnum}" />
                                                <?php
                            $kk=1;
                          foreach($attr as $key=>$val){
                                                ?>
                                                <table class="table vm">
                                                    <tr class="row0">
                                                        <td width="70"  class="tc" > 第<span class="day">{$kk}</span>项 <br />
                                                            <a href="javascript:void(0);" onclick="if(confirm('您确定要删除吗？')){$(this).parent().parent().parent().parent().remove();}">删除</a></td>
                                                        <td >
                                                            <div class="input-group">
                                                                <input type="text" placeholder="属性名（如：颜色，尺寸）" class="form-control" name="attr_name[]" value="{$key}"  />
                                                            </div>
                                                        </td>
                                                        <td >
                                                            <div class="input-group">
                                                                <input type="text" placeholder="属性值（如：红色，蓝色，白色）" class="form-control" name="attr_value[]" value="{$val}"  />
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </table>

                                                <?php $kk++;}?>


                                            </td>
                                        </tr>
                                        <tr class="row0">
                                            <td colspan="3"><button class="btn" type="button" id="addattr"><i class="fa fa-plus"></i> 1项</button></td>
                                        </tr>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <div class="col-md-8 custom-form">
                            <div class="form-group">
                                <label class="control-label">内容：</label>
                                <div class="controls">
                                    <textarea  id="content" name="content" class="myueditor" >{$db.content}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 custom-form">
                            <div class="form-group">
                                <label class="control-label">排序：</label>
                                <div class="controls">
                                    <input type="text" class="form-control w80" name="sort" id="sort" value="{$db.sort}"  />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">状态：</label>
                                <div class="controls">
                                    <select class="form-control w80 " name="status" id="status">
                                        <volist name="statuslist" id="vo">
                                            <notempty name="db.id">
                                                <eq name="db.status" value="$key">
                                                    <option value="{$key}" selected="selected">{$vo}</option>
                                                    <else/>
                                                    <option value="{$key}" >{$vo}</option>
                                                </eq>
                                                <else/>
                                                <eq name="key" value="1">
                                                    <option value="{$key}" selected="selected">{$vo}</option>
                                                    <else/>
                                                    <option value="{$key}" >{$vo}</option>
                                                </eq>
                                            </notempty>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab-pane" id="autotab_2">
                        <div class="col-md-6 custom-form">
                            <div class="form-group">
                                <label class="control-label">关键词：</label>
                                <div class="controls">
                                    <textarea class="form-control" rows="5" name="keywords" id="keywords" placeholder="输入关键词" >{$db.keywords}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">描述：</label>
                                <div class="controls">
                                    <textarea class="form-control" rows="5" name="description" id="description" placeholder="输入描述" >{$db.description}</textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label">外部链接：</label>
                                <div class="controls">
                                    <input type="text" class="form-control" name="linkurl" id="linkurl" placeholder="{$name}外部链接" value="{$db.linkurl}" />
                                </div>
                            </div>
                            <!-- <div class="form-group">
                               <label class="control-label">来源：</label>
                               <div class="controls">
                                 <input type="text" class="form-control" name="source" id="source" placeholder="{$name}来源" value="{$db.source}" />
                               </div>
                             </div>
                             <div class="form-group">
                               <label class="control-label">作者：</label>
                               <div class="controls">
                                 <input type="text" class="form-control w80" name="author" id="author" placeholder="{$name}作者" value="{$db.author}" />
                               </div>
                             </div>-->
                            <div class="form-group">
                                <label class="control-label">点击数：</label>
                                <div class="controls">
                                    <input type="text" class="form-control w80" name="hits" id="hits" placeholder="{$name}点击数" value="{$db.hits}" />
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="tab-pane" id="autotab_3">
                        <div class="form-group" >
                            <div class="controls">
                                <table class="col-md-6" >
                                    <tr class="row0 template">
                                        <td id="tempid"><?php
                $detail=json_decode($db['images']);
                $daynum=count($detail);
                if($daynum==0){
                  $daynum=1;
                }
                ?>
                                            <input type="hidden" name="daynum" id="daynum" value="{$daynum}" />
                                            <for start="0" end="$daynum" name="k" >
                                                <script language="javascript">
                                                    $(function(){
                                                        $.rendUploader("#btnUpload{:$k+1}");
                                                    });
                                                </script>
                                                <table class="table vm">
                                                    <tr class="row0">
                                                        <td width="70"  class="tc" > 第<span class="day">{:$k+1}</span>项 <br />
                                                            <a href="javascript:void(0);" onclick="if(confirm('您确定要删除吗？')){$(this).parent().parent().parent().parent().remove();}">删除</a></td>
                                                        <td ><div class="input-group">
                                                            <input type="text" class="form-control" name="images[]"   value="{:$detail[$k]}"  />
                                <span class="input-group-addon">
                                <button type="button" id='btnUpload{$k+1}' class="custom-upload"><i class="fa fa-upload"></i></button>
                                </span> </div></td>
                                                    </tr>
                                                </table>
                                            </for></td>
                                    </tr>
                                    <tr class="row0">
                                        <td colspan="3"><button class="btn" type="button" id="addDay"><i class="fa fa-plus"></i> 1项</button></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group" style="padding:20px 0px;">
                        <div class="controls">
                            <hr />
                            <button type="submit" class="btn btn-success" id="btnSubmit"><i class="fa fa-save"></i> 提交</button>
                            <button type="button" class="btn btn-default" onClick="history.back();"><i class="fa fa-undo"></i> 返回</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<script language="JavaScript" type="text/javascript" >
    $(function(){

        $("#addDay").click(function(){
            var num=parseInt($("#daynum").val());
            var html=$.addDay(num+1);
            $("#tempid").append(html);
            if($("#pid").val()==3){
                $(".datatype").val(3).attr("disabled",true).change();
            }
            //$(".editor").xheditor(default_setting);
            $("#daynum").val(num+1);
            $.rendUploader("#btnUpload"+(num+1));
        });

        $("#addattr").click(function(){
            var num=parseInt($("#attrnum").val());
            var html=$.addattr(num+1);
            $("#attrid").append(html);


            $("#attrnum").val(num+1);

        });


    });
    (function(){
        $.addDay=function(n){
            var html="";
            html+=("<table class=\"table vm\">");
            html+=("  <tr class=\"row0\">");
            html+=("    <td width=\"70\"  class=\"tc\" >第<span class=\"day\">"+n+"</span>项 <br /><a href=\"javascript:void(0);\" onclick=\"if(confirm('您确定要删除吗？')){$(this).parent().parent().parent().parent().remove();}\">删除</a></td>");

            html+=("    <td ><div class=\"input-group\"><input type=\"text\" class=\"form-control\" name=\"images[]\"   value=\"\"   /><span class=\"input-group-addon\"><button type=\"button\" id='btnUpload"+n+"' class=\"custom-upload\"><i class=\"fa fa-upload\"></i></button></span></div>  </td>");
            html+=("  </tr>");
            html+=("</table>");
            return html;
        }


        $.addattr=function(n){
            var html="";
            html+=("<table class=\"table vm\">");
            html+=("  <tr class=\"row0\">");
            html+=("    <td width=\"70\"  class=\"tc\" >第<span class=\"day\">"+n+"</span>项 <br /><a href=\"javascript:void(0);\" onclick=\"if(confirm('您确定要删除吗？')){$(this).parent().parent().parent().parent().remove();}\">删除</a></td>");

            html+=("    <td ><div class=\"input-group\"><input type=\"text\" placeholder=\"属性名（如：颜色，尺寸）\" class=\"form-control\" name=\"attr_name[]\"  value=\"\"   /></div>  </td>");
            html+=("    <td ><div class=\"input-group\"><input type=\"text\" placeholder=\"属性值（如：红色，蓝色，白色）\" class=\"form-control\" name=\"attr_value[]\"  value=\"\"   /></div>  </td>");
            html+=("  </tr>");
            html+=("</table>");
            return html;
        }

    })(jQuery);
</script>
<script language="javascript">
    var $fields={
        title: {
            validators: {
                notEmpty: {
                    message: '{$name}标题不能为空'
                }
            }
        }  ,
        point: {
            validators: {
                notEmpty: {
                    message: '{$name}所需积分不能为空'
                }
            }
        }  ,
        stock: {
            validators: {
                notEmpty: {
                    message: '{$name}库存不能为空'
                }
            }
        }
    };
</script>
<include file="Public/form" />
</body>
</html>
