<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>{$title}</title>
    <include file="Public:scripts" />
</head>
<body>
<div class="mui-content">
    <div class="mui-content-padded mui-text-center jieguo">
        <div class="jgicon">
            <span class="mui-icon mui-icon-checkmarkempty gou"></span>
            <!--<span class="mui-icon mui-icon-closeempty cha"></span>-->
        </div>
        <div class="fz18">恭喜您，报名成功</div>
        <p> 您可以在 <a href="{:U('Member/active')}">我的活动</a> 中查看   </p>

    </div>
</div>
<include file="Public:footer" />
</body>
</html>
