
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">

<!--<link rel="stylesheet" href="__PUBLIC__/Home/css/loading.css" />-->
<!--<script src="__PUBLIC__/Home/js/loading.js"></script>-->
<link rel="stylesheet" href="__PUBLIC__/Home/css/mui.css" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/fonts.css?1" />
<link rel="stylesheet" href="__PUBLIC__/Home/css/style.css?4" />


<script> 
var APP_PATH="/",CONST_PUBLIC="__PUBLIC__",API_URL="__APP__/Api/";
</script>
