<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Public/scripts" />
</head>
<body>
<div class="row">
  <div class="col-md-12 " >
    <h2>{$title}</h2>
  </div>
  <div class="col-md-12 " >
    <form action="" method="post" name="form1" id="form1" class="ajaxformx">
      <input type="hidden" id="id" name="id" value="{$db.id}" />
      <div class="col-md-6 custom-form">
        <div class="form-group">
          <label class="control-label">{$name}标识：</label>
          <div class="controls">
            <input type="text" class="form-control" name="name" id="name" placeholder="{$name}名称" value="{$db.name}" />
            <div class="help-block">用于C函数调用，只能使用英文且不能重复</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">{$name}名称：</label>
          <div class="controls">
            <input type="text" class="form-control" name="title" id="title" placeholder="{$name}名称" value="{$db.title}" />
            <div class="help-block">用于后台显示的配置标题</div>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">{$name}类型：</label>
          <div class="controls"> 
            <select class="form-control"  name="type"> 	<volist name=":parse_field_attr(C('config.CONFIG_TYPE_LIST'))" id="type"> 		  <if condition="($db.type eq $key)"> 
			<option value="{$key}"  selected="selected">{$type}</option>
			<else/>
			<option value="{$key}">{$type}</option>
            </if> 	</volist> </select>
            
          </div>
        </div> 
        
        <div class="form-group">
          <label class="control-label">{$name}分组：</label>
          <div class="controls"> 
            <select class="form-control"  name="group"> 	<option value="0">不分组</option> 	<volist name=":parse_field_attr(C('config.CONFIG_GROUP_LIST'))" id="group"> 		  <if condition="($db.group eq $key)"> 
			<option value="{$key}"  selected="selected">{$group}</option>
			<else/>
			<option value="{$key}">{$group}</option>
            </if> 	</volist> </select>
            
          </div>
        </div>  
        
        <div class="form-group">
          <label class="control-label">{$name}值：</label>
          <div class="controls">
            <textarea type="text" class="form-control" rows="5" name="value" id="value" placeholder="{$name}值" >{$db.value}</textarea>
          </div>
        </div>
        
        
        <div class="form-group">
          <label class="control-label">{$name}项：</label>
          <div class="controls">
           <textarea type="text" class="form-control" rows="5" name="extra" id="extra" placeholder="{$name}项">{$db.extra}</textarea>
          </div>
        </div>
        
        
        <div class="form-group">
          <label class="control-label">描述：</label>
          <div class="controls">
            <input type="text" class="form-control" rows="5" name="remark" id="remark" value="{$db.remark}" placeholder="{$name}描述" />
          </div>
        </div> 
        <div class="form-group">
          <label class="control-label">排序：</label>
          <div class="controls">
            <input type="text" class="form-control w80" name="sort" id="sort" value="{$db.sort}"  /> 
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">状态：</label>
          <div class="controls">
            <select class="form-control w80 " name="status" id="status">
              <volist name="statuslist" id="vo">
                <notempty name="db.id">
                  <eq name="db.status" value="$key">
                    <option value="{$key}" selected="selected">{$vo}</option>
                    <else/>
                    <option value="{$key}" >{$vo}</option>
                  </eq>
                  <else/>
                  <eq name="key" value="1">
                    <option value="{$key}" selected="selected">{$vo}</option>
                    <else/>
                    <option value="{$key}" >{$vo}</option>
                  </eq>
                </notempty>
              </volist>
            </select>
          </div>
        </div>
        <div class="form-group" >
          <div class="controls">
            <hr />
            <button type="submit" class="btn btn-success" id="btnSubmit"><i class="fa fa-save"></i> 提交</button>
            <button type="button" class="btn btn-default" onClick="history.back();"><i class="fa fa-undo"></i> 返回</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script language="javascript">
var $fields={
	name: {
		validators: {
			notEmpty: {
				message: '{$name}名称不能为空'
			} 
		}
	} 
	};
</script>
<include file="Public/form" /> 
</body>
</html>
