<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Public/scripts" /> 
<include file="Public/date" /> 
</head>
<body>
<include file="Public/activity" /> 
<div class="row">
<empty name="actlist">
<div class="col-md-12">您尚未添加任何活动，请先添加！</div>
<else/>
<lt name="actid" value="1">
<div class="col-md-12"></div>
<else/>
 
  <div class="col-md-12">
    <div class="col-md-12 custom-tool" >
      <h2> {$title}</h2>
      
    </div>
     <form action="" method="get" class="ajaxformx_" name="form1" id="form1">
      <input type="hidden" name="p" id="p" value="1" /> 
      <table class="table vm">
        <thead>
        <th colspan="2">筛选</th>
            </thead>
        <tbody>
          <tr>
            <td class="text-right" width="140">
             日期：
            </td>
            <td>
            <div class="col-md-6"> 
                <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input class="form-control datepicker" size="16" type="text" value="{$timefrom}" id="timefrom" name="timefrom"  placeholder="开始日期" > 
                <span class="input-group-addon">-</span>
                <input class="form-control datepicker" size="16" type="text" value="{$timeto}"  id="timeto" name="timeto"  placeholder="结束日期" >
               
              </div> 
            </div>
            </td>
            </tr> 
          <tr>
            <td  class="text-right">关键词：</td>
            <td><div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="输入关键词" name="keyword" id="keyword" value="{$keyword}">
                  <span class="input-group-btn">
                  <select class="btn" name="searchtype" id="searchtype">
                    <option value="0">昵称</option>
                    <eq name="searchtype" value="1">
                      <option value="1" selected="selected">用户名</option>
                      <else/>
                      <option value="1">用户名</option>
                    </eq>
                    <eq name="searchtype" value="2">
                      <option value="2" selected="selected">手机号</option>
                      <else/>
                      <option value="2">手机号</option>
                    </eq>
                  </select>
                  </span> <span class="input-group-btn">
                  <button type="submit" class="btn fl"><i class="fa fa-search"></i> 查询</button>
                  </span> </div>
              </div></td>
          </tr>
        </tbody>
      </table>
    </form>
    
    <table class="table  table-first-column-number display full table-striped custom-table vm">
      <thead>  
        <th >#</th>
        <th>会员</th>
        <th >参与次数</th>
        <th >参与日期</th>
        <th width="80">操作</th>
          </thead>
      <tbody>
        <volist name="contentlist" id="vo">
          <tr> 
            <td>{$vo.id}</td>
            <td><notempty name="vo.headimgurl"><a href="{$vo.headimgurl}" target="_blank"><img src="{$vo.headimgurl}" style="width:30px; height:30px;"></a></notempty> {$vo.username|default=$vo['nickname']}</td>
            <td>{$vo.num}</td>
            <td>{$vo.date}</td>
            <td><a href="{:U('Member/editMember','id='.$vo['memberid'])}" class="btn" rel="tooltip" data-original-title="查看会员信息"><i class="fa fa-eye"></i></a></td>
          </tr>
        </volist>
        <tr>
          <td colspan="6"><notempty name="page">
              <div class="pull-left custom-footer">
                <ul class="pagination" style="margin: 0px;">
                  {$page}
                </ul>
              </div>
            </notempty> 
             </td>
        </tr>
      </tbody>
    </table>
  </div>
  </lt>
  </empty>
</div>
</body>
</html>