<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Public/scripts" />
<include file="Public/upload" /> 
</head>
<body>
<div class="row">
  <div class="col-md-12 " >
    <h2>{$title}</h2>
  </div>
  <div class="col-md-12 " >
    <form action="" method="post" name="form1" id="form1" class="ajaxformx">
      <input type="hidden" id="id" name="id" value="{$db.id}" />
      <div class="col-md-6 custom-form">
        <div class="form-group">
          <label class="control-label">上级：</label>
          <div class="controls">
            <select class="form-control" id="pid" name="pid">
          <option value="0">--顶级--</option> 
          {:R('Setting/treeselect', array($list))} 
        </select>
          </div>
        </div>
        
         <notempty name="db.id">
    
        <div class="form-group">
          <label class="control-label">分类名称：</label>
          <div class="controls">
            <input type="text" class="form-control" name="name" id="name" placeholder="{$name}名称" value="{$db.name}" />
          </div>
        </div>
      <else/>
      
        <div class="form-group">
          <label class="control-label">分类名称：</label>
          <div class="controls">
            <textarea class="form-control" rows="5" name="name" id="name" placeholder="{$name}名称" >{$db.name}</textarea>
            <div class="help-block">允许一次添加多个，一行一个</div>
          </div>
        </div> 
    </notempty>
    
        <div class="form-group">
          <label class="control-label">形象图：</label>
          <div class="controls">
         	 <div class="input-group">
                <input type="text" class="form-control" name="indexpic" id="indexpic" value="{$db.indexpic}" readonly />
                <span class="input-group-addon">
                   <button type="button" id="btnUpload" class="custom-upload"><i class="fa fa-upload"></i></button>
                </span>
            </div> 
          </div>
        </div> 
        <div class="form-group">
          <label class="control-label">分类描述：</label>
          <div class="controls">
            <input type="text" class="form-control" rows="5" name="remark" id="remark" value="{$db.remark}" placeholder="{$name}描述" />
          </div>
          
        <div class="form-group">
          <label class="control-label">排序：</label>
          <div class="controls">
            <input type="text" class="form-control w80" name="sort" id="sort" value="{$db.sort}"  /> 
          </div>
        </div>

        <div <if condition="$act neq 'News'"> style="display:none;"</if> class="form-group">
          <label class="control-label">是否内部：</label>
          <div class="controls">
            <select  class="form-control w80 " name="inner" id="inner">
              <option value="0" <if condition="$db['inner'] eq 0">selected="selected"</if> >非内部</option>
              <option value="1" <if condition="$db['inner'] eq 1">selected="selected"</if>>内部</option>

            </select>
          </div>
        </div>
		

        <div class="form-group">
          <label class="control-label">状态：</label>
          <div class="controls">
            <select class="form-control w80 " name="status" id="status">
              <volist name="statuslist" id="vo">
                <notempty name="db.id">
                  <eq name="db.status" value="$key">
                    <option value="{$key}" selected="selected">{$vo}</option>
                    <else/>
                    <option value="{$key}" >{$vo}</option>
                  </eq>
                  <else/>
                  <eq name="key" value="1">
                    <option value="{$key}" selected="selected">{$vo}</option>
                    <else/>
                    <option value="{$key}" >{$vo}</option>
                  </eq>
                </notempty>
              </volist>
            </select>
          </div>
        </div>
        <div class="form-group" >
          <div class="controls">
            <hr />
            <button type="submit" class="btn btn-success" id="btnSubmit"><i class="fa fa-save"></i> 提交</button>
            <button type="button" class="btn btn-default" onClick="history.back();"><i class="fa fa-undo"></i> 返回</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
<script language="javascript">
var $fields={
	name: {
		validators: {
			notEmpty: {
				message: '{$name}名称不能为空'
			}
		}
	} 
	};
</script>
<include file="Public/form" /> 
</body>
</html>
