
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1495434363686'); /* IE9*/
  src: url('iconfont.eot?t=1495434363686#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1495434363686') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1495434363686') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1495434363686#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tongxun2:before { content: "\e611"; }

.icon-tel:before { content: "\e60a"; }

.icon-fujian:before { content: "\e641"; }

.icon-tupian:before { content: "\e607"; }

.icon-xiaoxi:before { content: "\e628"; }

.icon-wode2:before { content: "\e604"; }

.icon-jiantou:before { content: "\e622"; }

.icon-kehu1:before { content: "\e61f"; }

.icon-mima:before { content: "\e616"; }

.icon-gonghaikehu:before { content: "\e67d"; }

.icon-yeji:before { content: "\e661"; }

.icon-kehu2:before { content: "\e629"; }

.icon-tongxun:before { content: "\e6cb"; }

.icon-xiaoxi2:before { content: "\e600"; }

.icon-xiaoxi1:before { content: "\e62a"; }

.icon-wode1:before { content: "\e621"; }

.icon-zhanghao:before { content: "\e68f"; }

.icon-kehu:before { content: "\e602"; }

.icon-tongxun1:before { content: "\e620"; }

