
<empty name="list">
    <eq name="p" value="1">
        <div class="mui-table-view-cell">
            <div class="mui-table-view-cell"> 暂无记录 </div>
        </div>
    </eq>
</empty>
<volist name="list" id="vo">

    <div class="mui-table-view-cell">
        <if condition="$vo['linkurl']">
            <a href="{$vo.linkurl}" class="listcont">
                <div class="display-box">
                    <div class="img4-3"><img src="{$vo.indexpic|default=C('DEFAULT_NOPIC')}"></div>
                    <div class="box-flex-1">
                        <div class="mui-ellipsis fz16">{$vo.title}</div>
                        <div class="mui-ellipsis-2 desc">{$vo.description}</div>
                    </div>
                </div>
            </a>
            <else/>
            <a href="{:U('Classes/view','id='.$vo['id'])}" class="listcont">
                <div class="display-box">
                    <div class="img4-3"><img src="{$vo.indexpic|default=C('DEFAULT_NOPIC')}"></div>
                    <div class="box-flex-1">
                        <div class="mui-ellipsis fz16">{$vo.title}</div>
                        <div class="mui-ellipsis-2 desc">{$vo.description}</div>
                    </div>
                </div>
            </a>
        </if>

    </div>
</volist>