
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
<meta name="format-detection" content="telephone=no">

<!--<link rel="stylesheet" href="__PUBLIC__/Crm/css/loading.css" />-->
<!--<script src="__PUBLIC__/Crm/js/loading.js"></script>-->
<link rel="stylesheet" href="__PUBLIC__/Crm/css/mui.css" />
<link rel="stylesheet" href="__PUBLIC__/Crm/css/style.css??2" />
<link href="__PUBLIC__/Crm/font3/iconfont.css" rel="stylesheet" type="text/css" />

<script> 
var APP_PATH="/",CONST_PUBLIC="__PUBLIC__",API_URL="__APP__/Api/";
</script>
<!--<script type="text/javascript"> var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://"); document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F0056aa66b55f7e6afed329ec811128b5' type='text/javascript'%3E%3C/script%3E")) </script>-->