<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
<include file="Public/scripts" />
<include file="Public/date" />
</head>
<body>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 custom-tool" >
      <h2>{$title}</h2>
      <!--<div class="pull-right"> <a href="{:U($control.'/add'.$action)}" class="btn btn-success" title="添加"><i class="fa fa-plus"></i> 添加</a> </div>-->
    </div>
    <form action="" method="get" class="ajaxformx_" name="form1" id="form1">
      <input type="hidden" name="p" id="p" value="1" />
      <input type="hidden" name="status" id="status" value="{$status}" />
      <table class="table vm">
        <thead>
        <th colspan="2">筛选</th>
            </thead>
        <tbody>
        <tr>
            <td width="140" class="text-right">交易日期：</td>
            <td>
              <div class="col-md-4"> 
                <div class="input-group">
                  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                  <input class="form-control datepicker" size="16" type="text" value="{$timefrom}" id="timefrom" name="timefrom"  placeholder="开始日期" >
                  <span class="input-group-addon">-</span>
                  <input class="form-control datepicker" size="16" type="text" value="{$timeto}"  id="timeto" name="timeto"  placeholder="结束日期" >
                </div>
            </div></td>
          </tr>

          <tr>
            <td  class="text-right" width="140">收支类型：</td>
            <td>
              <div class="col-md-12">

                <a href="{:set_url('type','')}" ><span class="label label-default">全部</span></a>
                <volist name="typelist" id="vo">
                  <eq name="type" value="$vo.id">
                    <if condition="isN($type) eq true"> <a href="{:set_url('type',$vo['id'])}"><span class="label label-default">{$vo.name}</span></a>
                      <else/>
                      <a href="{:set_url('type',$vo['id'])}" ><span class="label label-info">{$vo.name}</span></a> </if>
                    <else/>
                    <a href="{:set_url('type',$vo['id'])}"  ><span class="label label-default">{$vo.name}</span></a> </eq>
                </volist>
              </div>
            </td>
          </tr>
          <tr>
            <td  class="text-right">关键词：</td>
            <td><div class="col-md-6">
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="输入关键词" name="keyword" id="keyword" value="{$keyword}">
                  <span class="input-group-btn">
                  <select class="btn" name="searchtype" id="searchtype">
                    <option value="0">用户名</option>
                    <eq name="searchtype" value="1">
                      <option value="1" selected="selected">会员ID</option>
                      <else/>
                      <option value="1">会员ID</option>
                    </eq>
                    <eq name="searchtype" value="2">
                      <option value="2" selected="selected">备注</option>
                      <else/>
                      <option value="2">备注</option>
                    </eq>
                  </select>
                   
                  </span> <span class="input-group-btn">
                  <button type="submit" class="btn fl"><i class="fa fa-search"></i> 查询</button>
                  </span> </div>
              </div></td>
          </tr>
        </tbody>
      </table>
    </form>
    <table class="table  table-first-column-number display full table-striped custom-table vm">
      <thead>
      <tr> 
        <th >#</th>
        <th>用户名</th>
        <th>交易类型</th>
        <th>交易金额</th>
        <th>当前余额</th>
        <th width="180">交易时间</th>
        <th width="200">备注</th>
          </thead>
      <tbody>
        <volist name="contentlist" id="vo">
          <tr> 
            <td>{$vo.id}</td>
            <td>{:get_username($vo['memberid'])}</td>
            <td>{:get_cache_value('member_balance_type',$vo['type'],'name')}</td>
            <td><eq name="vo.type" value="1">+<else/>-</eq>{$vo.amount|to_price}</td>
            <td>{$vo.balance|to_price}</td>
             <td>{$vo.addtime}</td>
            <td><div style="width:200px; height:1.5em; overflow:hidden;text-overflow: ellipsis;">{$vo.act}</div></td>
          </tr>
        </volist>
        <tr>
          <td colspan="8"><notempty name="page">
              <div class="pull-left custom-footer">
                <ul class="pagination" style="margin: 0px;">
                  {$page}
                </ul>
              </div>
            </notempty> 
             </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>