<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>{$title}</title>
  <include file="Public/scripts" />
</head>
<body>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-12 custom-tool" >
      <h2>{$title}</h2>
      <div class="pull-right"> <a href="{:U($control.'/add'.$action)}" class="btn btn-success" title="添加"><i class="fa fa-plus"></i> 添加</a> </div>
    </div>
    <form action="" method="get" class="ajaxformx_" name="form1" id="form1">
      <input type="hidden" name="p" id="p" value="1" />
      <input type="hidden" name="status" id="status" value="{$status}" />
      <table class="table vm">
        <thead>
        <th colspan="2">筛选</th>
        </thead>
        <tbody>
        <tr>
          <td  class="text-right" width="140">状态：</td>
          <td><div class="col-md-12"> <a href="{:set_url('status','')}" ><span class="label label-default">全部</span></a>
            <volist name="statuslist" id="vo">
              <eq name="status" value="$key">
                <if condition="isN($status) eq true"> <a href="{:set_url('status',$key)}"><span class="label label-default">{$statuslist.$key}</span></a>
                  <else/>
                  <a href="{:set_url('status',$key)}" ><span class="label label-info">{$statuslist.$key}</span></a> </if>
                <else/>
                <a href="{:set_url('status',$key)}"  ><span class="label label-default">{$statuslist.$key}</span></a> </eq>
            </volist>
          </div></td>
        </tr>
        <tr>
          <td  class="text-right">关键词：</td>
          <td><div class="col-md-6">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="输入关键词" name="keyword" id="keyword" value="{$keyword}">
                  <span class="input-group-btn">

                     <select class="btn" id="searchtype" name="searchtype">
                       <option value="0">姓名</option>
                       <eq name="searchtype" value="1">
                         <option value="1" selected="selected">联系电话</option>
                         <else/>
                         <option value="1">联系电话</option>
                       </eq>
                     </select>
                  </span> <span class="input-group-btn">
                  <button type="submit" class="btn fl"><i class="fa fa-search"></i> 查询</button>
                  </span> </div>
          </div></td>
        </tr>
        </tbody>
      </table>
    </form>
    <table class="table  table-first-column-number display full table-striped custom-table vm">
      <thead>
      <th width="100">ID</th>
      <th  >用户姓名</th>
      <th  >提交时间</th>
      <th width="80">推荐</th>
      <th width="80">状态</th>
      <th width="110">操作</th>
      </thead>
      <tbody>

      <volist id="vo" name="list">
        <tr>
          <td><input type="checkbox" name="selectids" value="{$vo.id}" />
            </td>
          <td>{$vo.username}</td>
          <td>{$vo.addtime} </td>
          <td><eq name="vo.isresume" value="1"> <a href="javascript:void(0);" onclick="setVal('{$tblname}','isresume',{$vo.id},0,this,'默认')" class="btn btn-link fc_blue"  rel="tooltip" data-original-title="点击设置为默认"><i class="fa fa-arrow-up"></i> 推荐</a>
            <else />
            <a href="javascript:void(0);" onclick="setVal('{$tblname}','isresume',{$vo.id},1,this,'推荐')" class="btn btn-link "  rel="tooltip" data-original-title="点击设置为推荐"><i class="fa"></i> 默认</a> </eq>
          </td>
          <td>
            <switch name="vo['status']">
              <case value="0">待处理</case>
              <case value="1">已处理</case>
              <case value="2">无需处理</case>
            </switch>
          </td>
          <td>
            <a href="{:U('Form/editFeedback','id='.$vo['id'])}" class="btn" rel="tooltip" data-original-title="修改"><i class="fa fa-edit"></i></a>
            <a href="javascript:void(0);" onclick="setDelete('{:U("Form/deleteFeedback","id=".$vo['id'])}')" class="btn" rel="tooltip" data-original-title="删除"><i class="fa fa-trash"></i></a></td>
        </tr>
      </volist>


      <tr>
        <td colspan="8">
          <notempty name="page">
          <div class="pull-left custom-footer">
            <ul class="pagination" style="margin: 0px;">
              {$page}
            </ul>
          </div>
        </notempty>
          <notempty name="list">
            <div class="pull-right">
              <div class="btn-group dropup">
                <input type="hidden" value="{$tblname}" id="ConstTbl" name="ConstTbl" />
                <button id="AllCheck"  class="btn" title="全选"><i class="fa fa-check-square"></i></button>
                <button id="ReverseCheck"  class="btn" title="反选"><i class="fa fa-check-square-o"></i></button>
                <button class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false" title="操作"><i class="fa fa-wrench"></i> <span class="caret"></span></button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a class="AllStatus" data-status="0" href="javascript:void(0);"><i class="fa fa-lock"></i> {$statuslist[0]}</a></li>
                  <li><a class="AllStatus" data-status="1" href="javascript:void(0);"><i class="fa fa-unlock-alt"></i> {$statuslist[1]}</a></li>
                  <li class="divider"></li>
                  <li><a id="AllDel" href="javascript:void(0);"><i class="fa fa-trash"></i> 删除</a></li>
                </ul>
              </div>
            </div>
          </notempty></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>




