*{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #1a1a1a;
}
a img{
	border: none;
}
html body{
	height: 100%;
}
button{
	outline: 0;
	border: 0;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
